*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root {
    /* Colores*/
    --verdefuerte:  #177553;
    --verdeSuave:  #125f31;
    --verdeOscuro:  #15302a;
    --crema:  #e2e3e4;
    --gris:  #b4aeb6;
    --grisfuerte:  #7e7f83;
    --gris:  #BABABA;
    --blancohueso: #FAF8F7;
    --grispesado: #444140;
    --negro:  #10160f;
    --blanco: #ffff;
    --azul:#085360;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/imagenes/fondoWeb.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

header{
    width: 100vw;
    height: 200px;
    background-color: #0007205a;
    border: solid rgba(255, 217, 0, 0.523) 1px;
    top: 60px;
    position: absolute;
    align-content: center;
    text-align: center;
}
.header-contenedor{
    position: relative;
    
    bottom: 70px;
}

.header-titulo{
    width: 700px;
    height: 400px;
}